{{define "content"}}
	<p>Hello,</p>

	<p>We've received a request to reset your account password.</p>

	<p>Your reset password token is:</p>

	<p class="text-center emphasis"><b>{{.RessetPasswordHash}}</b></p>

	<p>If you think that this message is a mistake or you need any further help, don't hesitate to contact us at <a href="mailto:{{.SupportEmail}}">{{.SupportEmail}}</a>.</p>

	<p>
		Best Regards, <br />
		Presentator Team
	</p>
{{end}}
